{% include 'blocks/header.html' %}
      <section class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading">
            <h2>Blood Donation</h2>
            <div class="line-dec"></div>          
          </div>
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="/static/assets/images/left-image.jpg" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>Advantages : </h4>
                  <p>
                    Blood donation is a voluntary procedure that can help save the lives of others. There are several types of blood donation. Each type helps meet different medical needs.
                  </p> 
                  <p>
                    This is the most common type of blood donation, during which you donate about a pint (about half a liter) of whole blood. The blood is then separated into its components — red cells, plasma and sometimes platelets.
                  </p>               
                </div>
              </div>
            </div>
          </div>          
        </div>
      </section>

  
{% include 'blocks/footer.html' %}